.upper-toolbar {
    background: @col1;
    font-weight: bold;
    padding: 30px;
}

.app-title {
    color: @col2;
    font-size: 25px;
}

.toolbar-btn {
    background: @col2;
    color: @col1;
    float: right;
}

.pdf-view {
    border: 4px solid @col1;
    text-align: center;
}